<!--[if lt IE 9]> <html class="ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

		
		{% load noodles_tags %}		
		<title>{% block title %}Brant Steen{% endblock %}</title>
		
		<link rel="shortcut icon" href="/favicon.png">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		
		<link href='http://fonts.googleapis.com/css?family=Nobile:regular,bold&subset=latin' rel='stylesheet' type='text/css'/>
		
		{% for SHEET in MINI_CSS %}
			<link rel="stylesheet" href="{{ SHEET }}" />
		{% endfor %}
		
		
		
		{% block extra_head %}{% endblock %}
		
		
		<script type="text/javascript">
		
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-19357683-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
	</head>	
	
	<body class="{% block body_class %}{% endblock %}">
		
		{% url home as HOME %}
		
		<header class="pg-head-wrap">
			<div class="pg-head width">
				
				{% if not request.path == HOME %}
					<nav class="back-link">{% block back_link %}{% endblock %}</nav>
				{% endif %}
				
				{############}
				{% block tangential_wrap %}					
					{% if not request.path == HOME %}
						<aside class="tangential">
							<nav>
					{% endif %}
					
					{% block tangential %}{% endblock %}
					
					{% if not request.path == HOME %}
						</nav></aside>
					{% endif %}
				{% endblock %}
				{############}
				
				
				{############}		
				{% block page_title_wrap %}							
					{% if not request.path == HOME %}
						<div class="section-title"><h1>the
					{% endif %}
						
					{% block page_title %}{% endblock %}
					
					{% if not request.path == HOME %}
						of</h1></div>				
					{% endif %}
				{% endblock %}
				{############}
				
				
				{############}				
				{% if not request.path == HOME %}
					<nav class="section-nav clearfix">
				{% endif %}
				
				{% block section_nav %}{% endblock %}
					
				{% if not request.path == HOME %}
					</nav>
				{% endif %}
				{############}
				
				
				<div class="pg-head-content">
					<nav class="nav">
						<ul>
							{% url blog.views.index as BLOG %}
							{% url about as ABOUT %}
							{% url podcast as PODCAST %}
							{% url folio.views.index as FOLIO %}
							<li><a class="nav-blog" href="{{ BLOG }}"><span {% if request.path|insidenav:BLOG %}class="cur" {% endif %}>Blog</span></a></li>
							<li><a class="nav-folio" href="{{ FOLIO }}"><span {% if request.path|insidenav:FOLIO %}class="cur" {% endif %}>Portfolio</span></a></li>
							<li><a class="nav-me" href="{{ ABOUT }}"><span {% if request.path|insidenav:ABOUT %}class="cur" {% endif %}>Me</span></a></li>
							<li><a class="nav-podcast" href="{{ PODCAST }}"><span {% if request.path|insidenav:PODCAST %}class="cur" {% endif %}>Podcast</span></a></li>
							
						</ul>
					</nav>
					<{% if request.path == HOME %}h1{% else %}p{% endif %} class="logo"><a href="{{ HOME }}">B<span class="logo-smallerize">RANT</span> S<span class="logo-smallerize">TEEN</span></a></{% if request.path == HOME %}h1{% else %}p{% endif %}>					
				</div>
			</div>
		</header>
		
		<div class="pg-wrap">
			<div class="pg width">
				{% block pg_raised_wrap %}
					{% if not request.path == HOME %}
						<div class="pg-raised clearfix">
							
					{% endif %}
					
					{% block content %}
					{% endblock %}
					
					{% block sidebar %}
					{% endblock %}
					
					{% if not request.path == HOME %}
						</div>
					{% endif %}
				{% endblock %}
			</div>
		</div>
		
		<footer class="pg-foot-wrap">
			<div class="pg-foot width clearfix">
				<section class="foot-section social">
					<h1>Stay in touch</h1>
					<ul>
						<li class="social-rss"><a href="{{ SITE_META.rss }}">RSS Feed</a></li>
						<li class="social-twitter"><a href="{{ SITE_META.twitter }}">Twitter</a></li>
						<li class="social-linkedin"><a href="{{ SITE_META.linkedin }}">LinkedIn</a></li>
						<li class="social-google"><a href="{{ SITE_META.google }}">Google+</a></li>
						<li class="social-github"><a href="{{ SITE_META.github }}">Github</a></li>
						<li class="social-tumblr"><a href="{{ SITE_META.tumblr }}">Tumblr</a></li>
						<li class="social-facebook"><a href="{{ SITE_META.facebook }}">Facebook</a></li>
					</ul>
				</section>
				<section class="foot-section contact">
					<h1>Get in touch</h1>
					{% contact_form %}
				</section>
				<section class="foot-section profile">
					<h1>Brant Steen</h1>
					<figure>
						<img src="{{ STATIC_URL }}img/brant-steen.jpg" alt="Picture of Brant Steen" />
						<figcaption>
							Designer, Developer, Consultant<br/>
							Newtown, Pennsylvania
						</figcaption>
						<p>&copy; 2012 Brant Steen Design</p>
					</figure>
				</section>
			</div>			
		</footer>
			
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		{% for SCRIPT in MINI_JS %}
			<script type="text/javascript" src="{{ SCRIPT }}"></script>
		{% endfor %}
		{% block extra_foot %}{% endblock %}
	</body>
</html>