django<1.7
django-debug-toolbar
git+git://github.com/Brant/django-mub.git@master
git+git://github.com/Brant/django-noodles.git@master
South
markdown2
django-taggit
django-tastypie
django-disqus
psycopg2
pillow
python-memcached
dropbox
python-dateutil
django-htmlmin
newrelic
