django<1.7
django-debug-toolbar
git+git://github.com/Brant/django-mub.git
git+git://github.com/Brant/django-noodles.git
South
markdown2
django-taggit
django-tastypie
django-disqus
psycopg2
pil
python-memcached
