{% extends "base.html" %}

{% block title %}Contact me | {{ block.super }}{% endblock %}

{% block back_link %}<a href="{% url 'home' %}">Home</a>{% endblock %}

{% block tangential_wrap %}{% endblock %}
{% block page_title_wrap %}<div class="section-title"><h1>Contact me</h1></div>{% endblock %}

{% block body_class %}{{ block.super }} contact-page {% endblock %}

{% block content %}

	<div id="content" class="two-col">
		<section class="two-col-left hide-on-small">
			<hgroup>
				<h1>I'm available for work</h1>
				<h2>Get a quote for</h2>
			</hgroup>

			<ul>
				<li>Site or app design and/or development</li>
				<li>Design implementation</li>
				<li>Web Consulting</li>
			</ul>

			<p>I'm always looking for top-notch clients with interesting projects!</p>
			<h2>Always happy to chat</h2>
			<p>Besides client work, I'm always open to talk about other things too, such as:</p>
			<ul>
				<li>Guest blogging</li>
				<li>Podcasting opportunities</li>
			</ul>

				<h2>Feel free to reach out elsewhere</h2>
				<ul class="contact-social clearfix">
					<li class="social-twitter"><a href="{{ SITE_META.twitter}}">Twitter</a></li>
					<li class="social-facebook"><a href="{{ SITE_META.facebook }}">Facebook</a></li>
					<li class="social-google"><a href="{{ SITE_META.google }}">Google+</a></li>
					<li class="social-linkedin"><a href="{{ SITE_META.linkedin }}">LinkedIn</a></li>
				</ul>
			</hgroup>
		</section>
		<section class="two-col-right">
			{% if form.errors %}
			<hgroup>
				<h1>Oops!</h1>
				<h2>Missed a spot</h2>
			</hgroup>
			{% else %}
				<hgroup>
					<h1>Just fill out this short form</h1>
					<h2>and I'll be in touch</h2>
				</hgroup>
			{% endif %}
			{% include "noodles/contact_form.html" %}
		</section>

	</div>


{% endblock %}
