.hire-me{
	font-size:30px;
	line-height:1.2em;
	position: absolute;
	right:20px;
	top:-20px;
	background:#006c8b;
	width:80px;
	
	height:160px;
	padding:120px 10px 0;
	
	text-align: center; 
	text-shadow: 0 0 2px #0c0d00;
	
	-webkit-box-shadow:0 5px 15px rgba(17,92,114,.4);
	-moz-box-shadow:0 5px 15px rgba(17,92,114,.4);
	-o-box-shadow:0 5px 15px rgba(17,92,114,.4);
	box-shadow:0 5px 15px rgba(17,92,114,.4);	
	
	background:#006C8B;	
	background-image: linear-gradient(bottom, rgb(0,109,139) 56%, rgb(0,109,139) 65%, rgb(3,125,156) 94%);
background-image: -o-linear-gradient(bottom, rgb(0,109,139) 56%, rgb(0,109,139) 65%, rgb(3,125,156) 94%);
background-image: -moz-linear-gradient(bottom, rgb(0,109,139) 56%, rgb(0,109,139) 65%, rgb(3,125,156) 94%);
background-image: -webkit-linear-gradient(bottom, rgb(0,109,139) 56%, rgb(0,109,139) 65%, rgb(3,125,156) 94%);
background-image: -ms-linear-gradient(bottom, rgb(0,109,139) 56%, rgb(0,109,139) 65%, rgb(3,125,156) 94%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.56, rgb(0,109,139)),
	color-stop(0.65, rgb(0,109,139)),
	color-stop(0.94, rgb(3,125,156))
);
	
	z-index:7;
}
.hire-me:before{
	position: absolute;
	border:solid 50px transparent;
	bottom:-50px;
	left:0;
	content:" ";
	width:0;
	height:0;
	border-left-color:#006c8b;
	border-right-color:#006c8b;
	
}

.hire-me a,
.hire-me a:link,
.hire-me a:active,
.hire-me a:visited{
	color:#fff;
	text-decoration: none;
	display: block;
	padding:100px 0px;
	margin:-100px 0 0 0;
	
}

.hire-me nav{
	
	
}
