.home .content{
	padding:0 10px 30px;
}
.home-link{
	position: relative;
	margin:20px 0;
	padding:10px 0;
}
.home-link .embossed-body{
	position: absolute;
	left:295px;
	top:20px;
}
.home-link h2 a{
	color:inherit;
	text-decoration: none;
}
.home-image-container{
	position: relative;
	height:150px;
	padding:0;
	
	width:230px;
	overflow:hidden;
	
	box-shadow:0 0 5px rgba(0,0,0,.2), 0 0 10px rgba(255, 255, 255, 1);
}
.home-image-container img{

}
.home-image-container a{
	display: block;
	width:100%;
	height:100%;
}
.home-folio{
	min-height:160px;
}
.home-folio-image-container img{
	position: absolute;
	top:0;
	left:250px;
	z-index:1;
}
.home-folio-image-container{
	height:150px;	
}

.home-folio-image-container a:first-of-type img{
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	box-shadow:none;
}

.home-blog-image-container{
	background:url(img/hand.png) 0 center no-repeat;
}
.home-blog-image-container a{
	display:block;	
}
.home-blog-image-container img{
	position:absolute;
	left:90px;
	box-shadow:0 0 5px rgba(0,0,0,.3);
}

.home-podcast-image-container{
	border:none;
}


.slidden .home-folio-image-container img{
	left:5px;
	z-index:1;
}
.slidden .home-folio-image-container a:nth-of-type(2) img{
	left:45px;
	z-index:2
}
.slidden .home-folio-image-container a:nth-of-type(3) img{
	left:85px;
	z-index:3;
}
