/**
 * Generic stuff
 */
.projects{
	font-size:1.1em;
	line-height: 1.6em;
}

.projects a{
	text-decoration: none;
	border-bottom:solid 1px;
}
.projects-large-image-wrap a{
	text-decoration: none;
	border:none;
}

.projects .embossed-body{
	text-align: center;
}
.project-img{
	border:solid 1px #85b2be;
	padding:6px;
	background: #fafafa;

	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
.projects-page .pg{
	width:90%;
	max-width:1290px;
}



/**
 * Tangential on project page
 */
.projects-page .tangential img{
	max-width:65%;
}

/**
 * individual projects
 */
.projects-project{
	position: relative;	
	padding:0;
}
.projects-project-heading{
	font-size: 2.1em;
	font-family: "Ek Mukta", verdana, sans-serif;
	font-weight: 200;

}

/**
 * Featured current project
 */
.projects-current-featured{
	margin:2em 0 3em;
}
.projects-current-featured .projects-project-desc{
	margin:0 0 0 52%;
}
.projects-featured-heading{
	margin:0 0 0 52%;
	line-height: 2.5em;
}
.projects-current-featured .projects-large-image-wrap{
	height:0;
	margin:0;
	padding:0;
}
.projects-current-featured .projects-large-image{
	font-size:2em;
	max-width:70%;
	
	margin:-2.5em 0 0 -22%; /* Margin-top must match .projects-project-heading line-height */
	float: left;
	vertical-align: baseline;

}

/**
 * Grouped projects
 */
.projects-grouped{
	margin:0 -5em 4em;
}
.projects-grouped .projects-project{
	float: left;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;

	width:30%;
	padding:2%;
	margin:0 1.5%;
	text-align: center;
}
.projects-grouped .projects-project-heading{
	font-weight: 200;
	
}
.grouped-project-image-wrap{
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	
	border:solid 1px #d7d7d7;
	border-radius: 10000px;

	width:85%;
	margin:0 auto;
	display: none;
}
.grouped-project-image-wrap img{
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;

	margin:2% auto;
	width:96%;	
	display: block;
	border-radius: 10000px;
	border:none;
	background:none;
	padding:0;
}

/**
 * Past Projects
 */
.projects-past{
	text-align: center;
}
.projects-past .embossed-body{
	
}
.projects-past .projects-project{
	position: relative;	
	padding:0;
	float: left;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	width:48%;
	margin:0 0 0 2%;
}
.projects-past .projects-project:nth-of-type(odd){
	margin:0 2% 0 0;
}


.projects-past .projects-large-image{
	max-width: 100%;
	width:auto;
	
	margin:0;
	position: static;

	float: none;
	display: block;	
}

