.blog-entry-share{
	padding:10px 0 0px 0;
	list-style:none;
	width:100%;
	margin:0;
	
}
.blog-entry-share li{
	float:left;
	margin-bottom:0px;
}
.twitter-share{
	margin-top:0px;
}
.facebook-share{
	margin:0px 0 0 0;
}
.linkedin-share{
	margin:0px 19px 0 0;
}
.plus1-share{
	margin:-2px -5px 0 0;
}
