.has-sidebar{
	/*
	 * body class to be added to pages with a sidebar
	 */
}
.content-with-sidebar{
	/*
	 * class for the content portion of the page
	 */
	float:left;
	width:77%;
}

.sidebar{
	width:17%;
	float:right;
}
.sidebar .ribbon{
	margin-right:-55px;
}
.sidebar-ad{
	margin:0 0 0 18px;
}
