{% extends "base.html" %}
{% load blog_tags %}
{% block title %}Blog | {{ block.super }}{% endblock %}

{% block body_class %} blog {% endblock %}

{% block page_title %}blog{% endblock %}

{% block section_nav %}

	{% blog_categories %}

{% endblock %}


{% block tangential_wrap %}


		<aside class="tangential tangential-rss">
			<span>

			<a target="_blank" href="{{ SITE_META.rss }}"><img src="{{ STATIC_URL }}img/rss_alt_32x32.png" alt="subscribe" />Subscribe</a>

		</span></aside>

{% endblock %}


{% block content %}

	<div id="content">


		{% block jaxy_content %}
		{% endblock %}

	</div>

{% endblock %}
