{% extends "projects/base.html" %}

{% load static from staticfiles %}

{% block back_link %}<a href="{% url 'home' %}">Home</a>{% endblock %}

{% block pg_raised_wrap %}
	{% block content %}
		<div id="content" class="content clearfix projects">

			<section class="projects-current">
				<h2 class="embossed-body">Current Projects</h2>

				<div class="projects-project clearfix projects-current-featured">
					<h3 class="projects-project-heading projects-featured-heading"><a href="http://podiobooks.com">Podiobooks</a></h3>
					<p class="projects-large-image-wrap"><a href="http://podiobooks.com"><img src="{% static 'img/pb.jpg' %}" alt="podiobooks" class="projects-large-image project-img" /></a></p>
					<div class="projects-project-desc">
						<p>Podiobooks is an indie audiobook project that I work on with <a href="http://timlwhite.com/">Tim White</a> and <a href="http://www.evoterra.com/">Evo Terra</a>.</p>
						<p>We <a href="https://github.com/podiobooks/podiobooks">open sourced the codebase</a> a few years ago.</p>
					</div>
				</div>

				<div class="projects-grouped clearfix">
					<div class="projects-project">
						<h3 class="projects-project-heading"><a href="http://brant.github.io/djtpl/">djtpl: A Project Template</a></h3>
						<p class="grouped-project-image-wrap"><a href="http://brant.github.io/djtpl/"><img src="{% static 'img/GroupedTemplate.png' %}" /></a></p>
						<p>A project template for new django projects, bootstrapping common settings and putting in place all the things that I find useful when using django as a framework.</p>
						<p><a href="https://github.com/Brant/djtpl">View on github</a></p>
					</div>

					<div class="projects-project">
						<h3 class="projects-project-heading"><a href="http://brant.github.io/django-mub/">Monster Under the Bed</a></h3>
						<p class="grouped-project-image-wrap"><a href="http://brant.github.io/django-mub/"><img src="{% static 'img/GroupedTemplate.png' %}" /></a></p>
						<p>A django app for streamlined CSS and JS minification for use during both development and production.</p>
						<p><a href="https://github.com/Brant/django-mub">View on github</a></p>
					</div>

					<div class="projects-project">
						<h3 class="projects-project-heading"><a href="http://brant.github.io/django-noodles/">Noodles for Django</a></h3>
						<p class="grouped-project-image-wrap"><a href="http://brant.github.io/django-noodles/"><img src="{% static 'img/GroupedTemplate.png' %}" /></a></p>
						<p>A django app focused on being unfocused - it provides little bits of glued-together functionality to help fill in some common gaps for me when developing with django.</p>
						<p><a href="https://github.com/Brant/django-noodles">View on github</a></p>
					</div>
				</div>
			</section>

			<section class="projects-past clearfix">
				<h2 class="embossed-body">Past Projects</h2>
				<div class="projects-project">
					<h3 class="projects-project-heading"><a href="http://hateandnut.com/">Hate and NuT</a></h3>
					<p class="projects-large-image-wrap"><a href="http://hateandnut.com"><img src="{% static 'img/han.jpg' %}" alt="hate and nut" class="project-img projects-large-image" /></a></p>
					<p>Hate and NuT is a webcomic that I was made.</p>
				</div>
				<div class="projects-project">
					<h3 class="projects-project-heading"><a href="{% url 'podcast' %}">wtfawd podcast</a></h3>
					<p class="projects-large-image-wrap"><a href="{% url 'podcast' %}"><img src="{% static 'img/wtfawd.jpg' %}" alt="wtfawd podcast" class="project-img projects-large-image" /></a></p>
					<p>What the F are we doing (wtfawd) was a podcast with myself and <a href="http://timlwhite.com">Tim White</a>.</p>
				</div>
			</section>
		</div>
	{% endblock %}
{% endblock %}
